@model List<Produtora>

@{
    ViewData["Title"] = "Produtoras";
}

<h1>Produtoras</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}
<div class="card">
    <div class="card-header">Pesquisar Produtoras</div>
    <div class="card-body">
        <form asp-action="Index" asp-controller="Produtora" method="get">
            <div class="row">
                <div class="col-4">
                    <a asp-action="Cadastrar" asp-controller="Produtora" class="btn btn-success">Cadastro de Produtoras</a>
                </div>
                <div class="col-4">
                    <input type="text" name="produtora" class="form-control" placeholder="Buscar por Produtora" />
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<table class="table table-striped">
    <tr>
        <th>Produtora</th>
        <th>Prêmios</th>
        <th>Presidente</th>
        <th>Data Nascimento</th>
        <th>Ativo</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Premios</td>
            <td>@item.Presidente.Nome</td>
            <td>@item.Presidente.DataNascimento.ToShortDateString()</td>
            <td>@(item.Ativo ? "Sim" : "Não")</td>
            <td>
                <a asp-action="editar" asp-route-id="@item.ProdutoraId" class="btn btn-sm btn-outline-dark">Editar</a>
                <button onclick="churros.value = @item.ProdutoraId" type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>
            </td>
        </tr>
    }
</table>